body {
    background-color: orange;
}

section {
    background-color: blanchedalmond;
    width: 80%; /* Set the width of the section */
    margin: 0 auto;
}

.pet-section {
    background-color: #9adfdf;
  }

.interests-section {
  background-color: #f09adf;
}

.vg-section{
    background-color: aquamarine;
}

h {
    font-size: 77px;
    position: relative;
    text-align: center;
}

body {
    transition: background-color 0.5s ease;
}

h1 {
    transition: color 0.5s ease;
    font-size: 66px;
    position: relative;
    text-align: center;
    font-family: Marker Felt, fantasy;
    color: coral
}

h2 {
    position: relative;
    text-align: center;
}

img {
    position: relative;
    left: 300px;
    top: -22px;
    height: 500px;
    width: 320px;
}

p {
    font-size: 28px;
    position:relative;
    text-align: center;
    top: -10px;
    font-family: Chalkduster, fantasy;
    color: olivedrab
}

#yesButton {
    position: relative;
    top: -25px;
    left: 420px;
    font-size: 66px;
    font-family: Impact, fantasy;
  }

  #noButton {
    position: relative;
    top: -25px;
    left: 500px;
    font-size: 66px;
    font-family: Impact, fantasy;
  }
  
  #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }

  #buttons button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }

  #contentContainer {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }

  h3 {
    transition: color 0.5s ease;
    font-size: 40px;
    position: relative;
    text-align: center;
    font-family: Trattatello, fantasy;
    color: steelblue
  }

  h4 {
    font-size: 20px;
    position: relative;
    text-align: center;
    font-family: Gill Sans, sans-serif;
    color: pink
  }


 
 
