body {
    background-color: orange;
}

section {
    background-color: blanchedalmond;
    width: 80%; /* Set the width of the section */
    margin: 0 auto;
}

h {
    font-size: 100px;
    position: relative;
    text-align: center;
}

body {
    transition: background-color 0.5s ease;
}

h1 {
    transition: color 0.5s ease;
}
  