body {
    background-color: orange;
}

section {
    background-color: blanchedalmond;
    width: 80%; /* Set the width of the section */
    margin: 0 auto;
}

h {
    font-size: 77px;
    position: relative;
    text-align: center;
}

body {
    transition: background-color 0.5s ease;
}

h1 {
    transition: color 0.5s ease;
    font-size: 44px;
    position: relative;
    text-align: center;
}

img {
    position: relative;
    left: 300px;
    top: -22px;
    height: 500px;
    width: 320px;
}

p {
    font-size: 22px;
    position:relative;
    text-align: center;
    top: -10px;
}

#yesButton {
    position: relative;
    top: -30px;
    left: 500px;
  }

  #noButton {
    position: relative;
    top: -30px;
    left: 600px;
  }