h1 {
    position: relative;
    text-align: center;
    font-size: 120px;
    margin-top: 0px;
    font-family: paprus, fantasy;
    font-style: bold;
    color: rgb(13, 14, 15);
}

h2 {
    position: relative;
    text-align: center;
    font-size: 55px;
    font-family: paprus, fantasy ;
    font-style: bold;
    color: rgb(26, 23, 23); 
}

.toggle-button {
    font-size: 55px;
    position: relative;
    text-align: center;
    font-family: paprus, fantasy;
    color: rgb(3, 3, 3);
}

.content {
    font-size: 33px;
    position: relative;
    text-align: center;
    font-family: paprus, fantasy;
    color: rgb(48, 44, 36);
}

p {
    font-style: bold;
    position: relative;
    left: 200px;
    font-family: Arial, Arial Black;
    font-style: bold;
    color: rgb(13, 14, 15);
}
