h1 {
    position: relative;
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 135px;
    color:rgb(3, 3, 3)
}


h2 {
    position: relative;
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 120px;
    color:rgb(3, 3, 3)
}

p {
    position: relative;
    text-align: right;
    right: 240px;
    top: 20px;
    font-size: 25px;
    font-family: Impact, fantasy;
}